.header {
  padding: 23px 0px 12px 28px;
  z-index: 3;
  // .header__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: inherit;
    }
    @media (max-width: $md1) {
      flex-wrap: wrap;
    }
  }

  // .header__logo

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-top {
    font-weight: 900;
    font-size: 14px;
    color: #ffffff;
  }

  &__logo-bottom {
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
  }
}

.menu {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  a {
    margin: 0px 13px;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}
.connection {
  display: flex;
  // .connection__address

  &__address {
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }

  // .connection__address-city

  &__address-city {
    font-weight: 700;
  }

  // .connection__address-street

  &__address-street {
    font-weight: 400;
  }
  &__number {
    display: flex;
    align-items: center;
  }
  &__tel__ligo {
    display: flex;
    align-items: center;
  }
}

.number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
}
.tel__ligo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
._icon-logo::before {
  color: #ffb400;
  font-size: 52px;
  margin: 0px 8px 0px 0px;
}
._icon-place::before {
  color: #ffb400;
  font-size: 18px;
  margin: 0px 8px 0px 0px;
}
._icon-phone::before {
  color: #ffb400;
  font-size: 18px;
  margin: 0px 8px 0px 0px;
}
.worktime {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #b8b7b8;
}
.header__freecall {
  color: initial;
  padding: 10px 20px;
  &-btn {
    color: #000;
    text-align: center;
  }
}
.menu__burger {
  display: none;
}

// Mobile Vertion

@media (max-width: $md3) {
  .menu__burger {
    z-index: 5;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 28px;
    cursor: pointer;
    &::before,
    &::after,
    span {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  }

  .header__nav {
    margin: -30px 0px;
    a {
      font-size: 45px;
      margin: 30px 0px;
    }
    &::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 110px;
      background-color: #050062;
      display: none;
    }
    z-index: 3;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 110%;
    // background-color: rgb(39, 92, 170);
    background: -webkit-linear-gradient(180deg, #050062, #0909bf, #00d4ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      180deg,
      #050062,
      #0909bf,
      #00d4ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 200px 40px 30px 40px;
    transition: top 3s ease 0s;
    overflow: auto;
    display: none;
  }
  .header__nav._active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    transition: top 3s ease 0s;
    &::before {
      display: block;
    }
    .header__menu._active {
      display: flex;
      flex-direction: column;
    }
    .connection__address._active {
      font-size: 40px;
      div {
        div {
          line-height: 40px;
          margin: 20px 0px 0px 0px;
        }
      }
    }
    .connection__tel__ligo._active {
      div {
        div {
          line-height: 50px;
          font-size: 40px;
        }
      }
    }
    .header__freecall._active {
      font-size: 40px;
      padding: 0px 10px;
    }
  }
  .menu__burger._active {
    position: fixed;
    top: 40px;
    span {
      top: 50%;
      transform: scale(0) translate(0, -50%);
    }
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &::after {
      top: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }
  .header__logo._active {
    display: flex;
    position: fixed;
    top: 20px;
    z-index: 4;
  }
}

.conteiner {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 20px;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
  @media (max-width: 1400px) {
    overflow: hidden;
  }
}
.wrap {
  @media (max-width: $md1) {
    margin: 15px 0px;
  }
}
