.question {
  padding: 100px 0px 80px 0px;

  .conteiner {
    overflow: visible;
  }
  // .question__airplane

  &__airplane {
    width: 900px;
    height: 310px;
    position: absolute;
    top: 345px;
    left: -255px;
    img {
      display: block;
      width: 100%;
    }
    @media (max-width: $md1) {
      left: -340px;
    }
    @media (max-width: $md2) {
      display: none;
    }
  }

  // .question__questions

  &__questions {
    width: 1474.53px;
    height: 806.71px;
    position: absolute;
    top: 140px;
    left: -7px;
    z-index: 1;
    img {
      display: block;
      width: 100%;
    }
    @media (max-width: $md2) {
      display: none;
    }
  }

  // .question__colomns

  &__colomns {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: 130px 0px 0px auto;
    @media (max-width: $md2) {
      margin: 0 auto;
      margin-top: 30px;
    }
  }

  // .question__colomn

  &__colomn {
    align-items: center;
    justify-content: stretch;
    box-shadow: 0px 11px 77px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    @media (max-width: $md2) {
      box-shadow: 3px 4px 8px 0px rgba(34, 60, 80, 0.507);
    }
  }
}

.colomn {
  // .colomn__text

  &__text {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  // .colomn__icon

  &__icon {
    margin: 0px 28px;
    img {
      display: block;
      width: 100%;
    }
  }
}
.number__logo {
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  margin: 28px;
}
.text-colomn {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  max-width: auto;
  flex: 1 1 310px;
}
